{% extends 'base.html' %}
{% load static %}

  {% block banner %}
  {% endblock banner %}
  
	{% block content %}
      <!-- blog section start --> 
      <div class="about_section layout_padding">
         <div class="container mb-5">
            <div class="row">
               <div class="col-lg-8 col-sm-12">
               <form class="d-flex mb-5" role="search" method="POST" action="{% url 'search' %}">
               {% csrf_token %}
			      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_query" style="background-color:aliceblue;">
			      <button class="btn btn-outline-success" type="submit">Search</button>
		    </form>
		    {% if query %}
		    	{% if posts %}
		    	<h2 class="most_text">Search results for "{{query}}"</h2>
		    		{% for post in posts %}
               <h2 class="most_text"><a href="{% url 'post_detail' post.slug %}">{{post.title |capfirst }}</a></h2>
                 <p class="post_text">Author : <a href="{% url 'post_author' post.author.name %}">{{post.author |capfirst }}</a></p>
                  <p class="post_text mt-1">{{post.created_on | date }} | {{ post.read_time }} Min read</p>
                  <p class="post_text mt-1 mb-2">Category : <a href="{% url 'blog_tag' post.tag %}">{{post.tag | capfirst}}</a></p>
                  {% autoescape off %}
                  {{ post.content | truncatechars:200 }}
                  {% endautoescape %}
            		{% endfor %}
            	{% else %}
            	 <h2 class="most_text">No search results found for "{{query}}"</h2>
            	{% endif %}  
		    {% else %}
		    <h2 class="most_text">Please enter a search query</h2>
		    {% endif %}
          </div>
       </div>
     </div> 
     
     
 {% endblock content %}
 
{% block tag %}
 {% endblock tag %}